// Universal properties

*, ::before, ::after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

// Top-level elements

html,
html body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: color(light);
}
