@mixin font(
  $size: 1rem,
  $height: inherit,
  $weight: 400,
  $color: null
) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;

  @if $color != null {
    color: $color;
  }
}
