@mixin text-gradient($color1, $color2, $color3: '') {
  @if $color3 == '' {
    color: $color2;
    background: linear-gradient(to right, $color1, $color2);
  } @else {
    color: $color1;
    background: linear-gradient(to right, $color1, $color2, $color3);
  }

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
